// p:last-child {
//   margin-bottom: 0;
// }

.dashboard {
  justify-content: center;
  align-items: center;
}

.sidebar {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: gainsboro;
  border-right: 1px solid black;
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    box-shadow: none;
    border: none;
    padding: 0;
  }
  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
  }
}

.search {
  padding-left: 1rem;
  .search-term {
    width: 70%;
  }
}

.stock-info {
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  background-color: gainsboro;
}

.chart-container {
  text-align: center;
  canvas {
    margin: 0 auto;
  }
}

.chart {
  height: 350px;
  width: auto;
}

.news {
  p:last-child {
    margin-bottom: 0;
  }
}
