.sidebar {
  padding: 0;
  margin: 0;
  max-height: 95vh;
  height: 100%;
  background-color: gainsboro;
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    box-shadow: none;
    border: none;
    padding: 0;
  }
}

.search {
  .search-term {
    width: 70%;
  }
}
