@import "../helpers/mixins";

.description {
  text-align: center;
  color: $primaryText;
  font-style: italic;
  margin-bottom: 30px;
  @include respond-above(md) {
    margin-top: 40px;
  }
  @include respond-above(lg) {
    font-size: 25px;
    margin-top: 50px;
  }
  @include respond-above(xl) {
    margin-top: 110px;
  }
}
