.footer {
  text-align: center;
  border-top: 1px solid $topGradient;
  background-color: $menuBar;
  color: $secondaryText;
  i {
    font-size: 1.5rem;
    color: $gain;
  }
  a {
    color: $secondaryText;
  }
}
