@import "../helpers/variables";

.home {
  height: 100%;
  .gain {
    color: $gain;
  }
  .loss {
    color: $loss;
  }
  .price {
    font-weight: bold;
    font-size: 25px;
    @include respond-above(md) {
      font-size: 30px;
    }
  }
  color: $primaryText;
  .fa-chart-line {
    color: $gain;
  }
  .ul {
    text-decoration: underline;
  }
  .change {
    font-size: 14px;
    @include respond-above(md) {
      font-size: 14px;
    }
  }
  .not-found {
    font-size: 15px;
    text-align: center;

    i {
      position: relative;
      top: 20%;
      font-size: 3rem;
      color: $loss;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }
}

.home-card {
  background-color: $topGradient;
  border: none;
  height: auto;
  width: 260px;
  margin: auto;
  justify-content: center;
  align-items: center;
  @include respond-above(md) {
    width: 275px;
    height: 160px;
  }
  @include respond-above(xl) {
    width: 500px;
    height: 125px;
  }
  .card-body {
    width: 100%;
  }
  .time-stamp {
    font-size: 10px;
    color: $secondaryText;
  }
}
