@import "../helpers/variables";

.home {
  height: 100%;
  .gain {
    color: $gain;
  }
  .loss {
    color: $loss;
  }
  .price {
    font-weight: bold;
    font-size: 25px;
  }
  color: $primaryText;
  .fa-chart-line {
    color: $gain;
  }
  .ul {
    text-decoration: underline;
  }
  .change {
    font-size: 14px;
  }
}

.home-card {
  background-color: $topGradient;
  border: none;
}
