.jumbotron {
  background-image: url("../../images/markets.jpg");
  background-size: cover;
  background-position: top;
  border-bottom: 5px solid $gain;
  height: 500px;
  .welcome {
    color: white;
    text-align: right;
    font-weight: bolder;
  }
  .gain {
    color: $gain;
    font-weight: bolder;
  }
  .logo {
    width: 55px;
    height: 55px;
  }
  .short-desc {
    color: $primaryText;
    text-align: left;
    width: 70%;
    position: absolute;
    top: 48%;
    left: 35%;
    transform: translate(-50%, -50%);
  }
}
