@import "../helpers/variables";

.news {
  a {
    color: $secondaryText;
  }
  li {
    color: $secondaryText;
    margin-bottom: 0.75rem;
  }
  h3 {
    color: $primaryText;
    text-align: center;
  }
}
