.search {
  color: $primaryText;
  width: 100%;
}

.stock-info {
  text-align: center;
  border: 1px solid black;
  border-radius: 15px;
  background-color: $topGradient;
  color: $primaryText;
  margin: auto;
  padding: 10px;
  @include respond-above(md) {
    width: 400px;
  }
  @include respond-above(lg) {
    width: 600px;
  }
  .latest-price {
    font-size: 25px;
    font-weight: bold;
  }
  .time-stamp {
    font-size: 10px;
    color: $secondaryText;
  }
  .week {
    font-size: 12px;
    @include respond-above(md) {
      font-size: 14px;
    }
    @include respond-above(lg) {
      font-size: 16px;
    }
  }
  .high {
    color: $gain;
  }
  .low {
    color: $loss;
  }
  .gain {
    color: $gain;
  }
  .loss {
    color: $loss;
  }
  .dollar-change {
    font-size: 12px;
    @include respond-above(md) {
      font-size: 14px;
    }
    @include respond-above(lg) {
      font-size: 16px;
    }
  }
  .percent-change {
    font-size: 12px;
    @include respond-above(md) {
      font-size: 14px;
    }
    @include respond-above(lg) {
      font-size: 16px;
    }
  }
  .company-name {
    font-weight: bold;
    font-size: 20px;
    @include respond-above(md) {
      font-size: 25px;
    }
    @include respond-above(lg) {
      font-size: 30px;
    }
  }
}

.chart-container {
  text-align: center;
  background-color: $topGradient;
  border: 1px solid black;
  border-radius: 15px;
  canvas {
    margin: 0 auto;
  }
  width: 100%;
}

.chart {
  height: 350px;
  width: auto;
}

.news {
  p:last-child {
    margin-bottom: 0;
  }
  ul {
    list-style: none;
    i {
      color: $gain;
    }
  }
}
