@import "../helpers/variables";
@import "../helpers/mixins";

.sidebar {
  padding: 0;
  margin: 0;
  background-color: $menuBar;
  border-right: 1px solid $topGradient;
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    box-shadow: none;
    border: none;
    padding: 0;
  }

  @include keyframes(pulse) {
    from {
      transform: scale(1);
    }
    50% {
      transform: scale(0.85);
    }
    to {
      transform: scale(1);
    }
  }

  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: $topGradient;
    border: 0.1px solid $gain;
    color: $gain;
    i {
      font-size: 1rem;
    }
    @include respond-above(md) {
      height: 50px;
      width: 50px;
      font-size: 13px;
      i {
        font-size: 1.5rem;
      }
    }
  }

  .card:hover {
    @include animation("pulse 1s infinite");
  }

  li {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 11px;
  }
  .side-symbol {
    color: $primaryText;
  }

  @include respond-above(md) {
    height: 1200px;
  }
  @include respond-above(lg) {
    height: 1400px;
    @include orientation(portrait) {
      height: 1700px;
    }
  }
}
