@import "../helpers/variables";
@import "../helpers//mixins";

.button {
  background-color: $topGradient;
  color: $primaryText;
  border: 1px solid $gain;
  text-align: center;
}

.watch-button {
  background-color: transparent;
  border: none;
  color: green;
}

.unwatch-button {
  background-color: transparent;
  border: none;
  color: red;
}

.ticker-button {
  background-color: transparent;
  border: none;
  color: $primaryText;
}

.search-button {
  background-color: $topGradient;
  color: $primaryText;
  border: 1px solid $gain;
}

.entry-btn {
  background-color: $topGradient;
  color: $gain;
  border: 1px solid $gain;
}
.login-btn {
  background-color: $bottomGradient;
  border: 1px solid $gain;
  color: $gain;
}
.sort-btn {
  width: 97px;
  text-align: center;
  font-size: 14px;
}

.logout-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  i {
    color: $loss;
  }
}

@include keyframes(pulse) {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(0.85);
  }
  to {
    transform: scale(1);
  }
}

.btn:hover {
  @include animation("pulse 1s infinite");
}
