@import "../helpers/variables";
.button {
  background-color: $topGradient;
  color: $primaryText;
  border: 1px solid $gain;
  text-align: center;
}

.watch-button {
  background-color: transparent;
  border: none;
  color: green;
}

.unwatch-button {
  background-color: transparent;
  border: none;
  color: red;
}

.ticker-button {
  background-color: transparent;
  border: none;
  color: $primaryText;
}

.search-button {
  background-color: $topGradient;
  color: $primaryText;
  border: 1px solid $gain;
}

.entry-btn {
  background-color: $topGradient;
  color: $gain;
  border: 1px solid $gain;
}
.login-btn {
  background-color: $bottomGradient;
  border: 1px solid $gain;
  color: $gain;
}
.sort-btn {
  width: 97px;
  text-align: center;
}
