@import "../helpers/variables";
@import "../helpers//mixins";

.button {
  background-color: $bottomGradient;
  color: $primaryText;
  border: 1px solid $gain;
  text-align: center;
}

.watch-button {
  background-color: transparent;
  border: none;
  color: $gain;
  .follow {
    font-size: 12px;
  }
}

.unwatch-button {
  background-color: transparent;
  border: none;
  color: $loss;
  .follow {
    font-size: 12px;
  }
}

.ticker-button {
  background-color: transparent;
  border: none;
  color: $primaryText;
  margin: auto;
  margin-bottom: 15px;
  width: auto;
}

.search-button {
  background-color: $bottomGradient;
  color: $primaryText;
  border: 1px solid $gain;
  i {
    color: $gain;
  }
}

.entry-btn {
  background-color: $bottomGradient;
  color: $primaryText;
  border: 1px solid $gain;
  width: 100px;
  @include respond-above(lg) {
    width: 200px;
  }
}

.sort-btn {
  width: 100px;
  text-align: center;
  font-size: 14px;
  @include respond-above(md) {
    width: 170px;
    font-size: 16px;
  }
  @include respond-above(lg) {
    width: 225px;
    font-size: 18px;
  }
}

.logout-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  i {
    color: $loss;
  }
}

@include keyframes(pulse) {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(0.85);
  }
  to {
    transform: scale(1);
  }
}

.btn:hover {
  @include animation("pulse 1s infinite");
  color: $secondaryText;
}
.btn:focus {
  outline: none !important;
  border: 1px solid black;
  box-shadow: 0 0 10px $gain;
}
