@import "components/button.scss";
@import "layout/jumbotron.scss";
@import "layout/entry.scss";
@import "layout/description.scss";
@import "layout/footer.scss";
@import "layout/sidebar";
@import "layout/news";
@import "layout/home";
@import "layout/dashboard";
@import "helpers/variables.scss";
@import "layout/search";
@import "pages/login";
@import "pages/signup";

html,
body {
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background-color: $background;
}

body {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.secondary {
  color: $secondaryText;
}

.up-logo {
  width: 55px;
  height: 55px;
  margin-left: 12px;
}

.load {
  display: flex;
  i {
    color: $gain;
    font-size: 5rem;
  }
}
