@import "components/button.scss";
@import "layout/jumbotron.scss";
@import "layout/entry.scss";
@import "layout/description.scss";
@import "layout/dashboard.scss";
@import "layout/footer.scss";
@import "helpers/variables.scss";
@import "layout/search";

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background-color: $background;
}

html {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
